div {
    width: 270px;
    height: 425px;
    background-color: coral;
    padding: 5px;
}
.top {
    margin: 0 auto;
    width: 350px;
    height: 500px;
    margin-top: 10px;
}
.second {
    float: left;
    margin-bottom: 10px;
}
.third {
    float: right;
    margin-right: 60px;
    margin-bottom: 10px;
}